body {
  margin: 0;
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(0, 0, 0);
  padding: 30px;
  border-radius: 5px;
}

.colContainer {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 100%;
  border-bottom: 2px solid black;
}

.cell {
  width: 100%;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
